<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SpiceJetSuite">
    <test name="SpiceJetTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="tests.SpiceJetTest" />
        </classes>
    </test>
</suite>
