<suite name="Test Suite" parallel="false">
    <test name="HomePageTest">
        <classes>
            <class name="com.demoblaze.tests.HomePageTest" />
        </classes>
    </test>
    <test name="SignUpPageTest">
        <classes>
            <class name="com.demoblaze.tests.SignUpPageTest" />
        </classes>
    </test>
    <test name="LoginPageTest">
        <classes>
            <class name="com.demoblaze.tests.LoginPageTest" />
        </classes>
    </test>
</suite>
